/*.icons {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 1px;
}
.question{
    background-color: #f1e7e7;
}
.data{
    margin-left: 276px;
}*/



:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

  :host ::ng-deep .mat-tab-labels {
    flex-direction: column;
  }

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: white;
  background-color: darkcyan;
  border-right: 2px solid white;
}
/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
  background-color: transparent;
  /* background-color: lightgray; */
}


table tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

  table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }




