.navbar-dark
{
    background-color:white !important;
    color:black;

}
  .navbar-dark .navbar-toggler{
      background:black;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: black;
  }
  

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
