.text-grey
{
    color:grey;
}
.leftpanel{
    min-height:355px;
}
.text-align-center {
  width: 50px;
  height: 50px;
  font-size: 20px
}

.selfassesmentlogo{
    width:60px;
    height:60px;
    background-color:lightseagreen;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;

}
.mat-header-cell{
  background-color: #cccaca;
  }

