.buttonData {
    background-color: rgb(247, 238, 238);
    border: red;
    color: rgb(219, 22, 22);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

